@model myBioApp.Models.Email

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<!-- Header -->
<header style="background: url('http://cdn.metube.id/covers/channels/2jUAaZOLMkyCgoS78LzG.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="site_heading">
                    <h1 style="padding-top:40px; padding-bottom:60px">
                        Want to get in thouch? 
                    </h1>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills" style="color: black">
                            Fill the form below and send me a message.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- contact section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            @Html.LabelFor(model => model.Name, "Name", new { @class = "form-group col-xs-12 floating-label-form-group controls" })
                            @Html.TextBoxFor(model => model.Name, "your name", new { placeholder = "enter your name", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            @Html.LabelFor(model => model.Email_Str, "Email", new { @class = "form-group col-xs-12 floating-label-form-group controls" })
                            @Html.TextBoxFor(model => model.Email_Str, "your email", new { type = "email", placeholder = "enter your email",@class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email_Str, null, htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            @Html.LabelFor(model => model.PhoneNumber, "Phone number", new { @class = "form-group col-xs-12 floating-label-form-group controls" })
                            @Html.TextBoxFor(model => model.PhoneNumber, "your phone number", new { type = "tel", placeholder = "enter your phone number", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, null, htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            @Html.LabelFor(model => model.Message, "Message", new { @class = "form-group col-xs-12 floating-label-form-group controls" })
                            @Html.TextAreaFor(model => model.Message,rows: 5, columns: 0, htmlAttributes: new { placeholder = "enter your phone message", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Message, null, htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input type="submit" class="btn btn-success btn-sm" value="Send Message"/>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr class="star-light">
            </div>
        </div>
    </div>
</section>

